################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C.V
/Intermediate/C.V/x64/Release
/x64/Release
